@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

:root {
  /* OG background #121212 */
  --primary-color: #69f0ae;
  --secondary-color: #18ffff;

  --app-color: #232323;
  --mdc-theme-on-primary: white;

  --background-color: #121212;
  font-size: 16px;
}

* {
  --mdc-theme-primary: var(--primary-color);
}

mwc-top-app-bar-fixed {
  --mdc-theme-primary: var(--app-color);
}

@media screen and (max-width: 45em) {
  mwc-top-app-bar-fixed a[slot="actionItems"] {
    display: none;
  }
}

@media screen and (min-width: 45em) {
  mwc-top-app-bar-fixed *[slot="navigationIcon"] {
    display: none;
  }
}

mwc-top-app-bar-fixed a[slot="actionItems"] main {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: calc(100vh - 64px); /* 64px = height of mwc app bar */
}

mwc-top-app-bar-fixed a[slot="actionItems"] {
  font-size: 1.3rem;
}

mwc-top-app-bar-fixed a[slot="actionItems"]:not(:last-of-type) {
  margin-right: 1.3rem;
}

mwc-drawer a {
  color: black;
}

a {
  color: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Fira Code", monospace;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: "Fira Code VF", monospace;
  }
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr auto;
  background-color: var(--background-color);
}

main {
  padding-bottom: 2em;
}

a[href]:not(:hover) {
  text-decoration: none;
}

header,
main,
footer {
  padding: 1em;
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

main :first-child,
main > article :first-child {
  margin-top: 0;
}

/* Header Nav */
header nav ul {
  padding: 0;
  list-style: none;
}

header nav ul :first-child {
  margin-left: 0;
}

header nav li {
  display: inline-block;
  margin: 0 0.5em;
}

header nav li a[href]:not(:hover) {
  text-decoration: none;
}

header nav li a[data-current="current item"] {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts List */
.posts-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

@media screen and (max-width: 720px) {
  .posts-grid {
    grid-template-columns: 1fr;
  }
}

.post {
  color: white;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border: 2px solid var(--tertiary-color);
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: #303030;
}

.post:hover,
.post:focus {
  background-color: #171717;
}

.post > a {
  text-decoration: none;
  color: white;
}

.post .tag {
  color: black;
  background-color: white;
}

main > article {
  max-width: 75rem;
}

main > article > * {
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.625em;
  padding: 0 0.5em;
  line-height: 2em;
  height: 2em;
  border: 1px solid white;
  border-radius: 0.25em;
  text-decoration: none;
  margin: 0 0.5em 0.5em 0;
}

a[rel="tag"]:hover {
  border: 1px solid white;
  background-color: white;
  color: black;
}

a[rel="tag"]:last-child {
  margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
  padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
  font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
  border: 1px solid black;
}

button {
  border: 1px solid white;
  background-color: white;
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 1.1rem;
  }
}

.post-cards {
  margin: 0 1.3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: auto repeat(4, 0.125rem auto fit-content(1rem) 1fr auto); */
  grid-column-gap: 3rem;
}

@media screen and (max-width: 45em) {
  .post-cards {
    grid-template-columns: auto;
  }
}

.post-card {
  display: grid;
  grid-template-rows: 0.25rem auto fit-content(1rem) 1fr auto;
  grid-template-rows: subgrid;
  background-color: var(--app-color);
}

@supports (grid-template-rows: subgrid) {
  .post-card {
    grid-row: span 5;
  }
}

.post-card > * {
  padding: 0 1.5rem;
}

.post-card > .accent {
  padding: unset;
}

.post-card.talk .accent {
  background: linear-gradient(to right, #00e676, #12a6b3);
}

.post-card.project .accent {
  background: linear-gradient(to right, #12a6b3, #b31270);
}

.post-card.blog .accent {
  background: linear-gradient(to right, #b31270, #e93a49);
}

.post-card.talk .details {
  --mdc-theme-primary: #13b4c3;
}

.post-card.project .details {
  --mdc-theme-primary: #f466b9;
}

.post-card.blog .details {
  --mdc-theme-primary: #f17e88;
}

.post-card .accent {
  min-height: 0.25rem;
}

.post-card > a {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.post-card .details {
  --mdc-theme-primary: var(--secondary-color);
}

.featured-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto repeat(2, auto 1fr auto);
  grid-column-gap: 1.5rem;
  margin: 0 1.3rem 5rem;
}

.featured-grid-item {
  display: grid;
  background-color: var(--app-color);
  padding: 1.5rem 1.5rem;
  grid-template-rows: auto 1fr auto;
  grid-template-rows: subgrid;
}

.featured-grid-item a.link {
  padding-top: 1.5rem;
}

@supports (grid-template-rows: subgrid) {
  .featured-grid-item {
    grid-row: span 3;
  }
}