<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="line-numbers">
		<mwc-top-app-bar-fixed id="bar">
			<mwc-icon-button id="menuButton" icon="menu" slot="navigationIcon"></mwc-icon-button>
			<a slot="title" href="{{ '/' | url }}">{{ metadata.title }}</a>
			{%- for nav in collections.nav | sort(attribute="date") -%}
			<a slot="actionItems" href="{{ nav.url | url }}"{% if nav.url == page.url %} data-current="current item"{% endif %}>{{ nav.data.navtitle }}</a>
			{%- endfor -%}
			<mwc-drawer id="menuDrawer" type="dismissible">
				{%- for nav in collections.nav | sort(attribute="date") -%}
				<div>
				<a href="{{ nav.url | url }}"{% if nav.url == page.url %} data-current="current item"{% endif %}>{{ nav.data.navtitle }}</a>
				</div>
				{%- endfor -%}
			</mwc-drawer>
				<main>
					{{ layoutContent | safe }}
				</main>
			</section>
		</mwc-top-app-bar-fixed>
		{% include "components/footer.njk" %}
		<div class="subgrid-canary"></div>
		<mwc-snackbar id="cssSubgridNotice" labelText="Your browser doesn't support `CSS Subgrid`. Some styles might be broken.">
			<mwc-icon-button icon="close" slot="dismiss"></mwc-icon-button>
		</mwc-snackbar>
		<script>
		const appBar = document.getElementById("bar")
		const menuDrawer = document.getElementById("menuDrawer");
		if (appBar && menuDrawer) {
		appBar.addEventListener("MDCTopAppBar:nav", () => {
			menuDrawer.open = !menuDrawer.open;
		});
		}
		window.customElements.whenDefined("mwc-snackbar").then(() => {
			const subgridCanary = document.querySelector(".subgrid-canary");
			if (subgridCanary && getComputedStyle(subgridCanary, null).display !== "none") {
				const msg = document.getElementById("cssSubgridNotice");
				if (msg) {
					msg.open();
				}
			}
		});

		</script>
	</body>
</html>
