<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<mwc-top-app-bar-fixed id="bar">
			<a slot="title" href="{{ '/' | url }}">{{ metadata.title }}</a>
			{%- for nav in collections.nav | sort(attribute="date") -%}
			<a slot="actionItems" href="{{ nav.url | url }}"{% if nav.url == page.url %} data-current="current item"{% endif %}>{{ nav.data.navtitle }}</a>
			{%- endfor -%}
			<main>
				{{ layoutContent | safe }}
			</main>
			{% include "components/footer.njk" %}
		</mwc-top-app-bar-fixed>

	</body>

</html>
