---
layout: layouts/base.njk
section: home
permalink: /index.html
---
<h1>{{ title }}</h1>

<div>
Hi, I'm Patrick. blah blah blah here's a fun fact and my GitHub and other links!
</div>
<div>
<mwc-button outlined label="Learn more"></mwc-button>
</div>

<div class="featured-cards">
    <div class="featured-card">
        <div class="accent"></div>
        <div class="contents">
        </div>
        <mwc-button outlined class="details" label="Details"></mwc-button>
    </div>
    <div class="featured-card">
        <div class="accent"></div>
        <div class="contents">
        </div>
        <mwc-button outlined class="details" label="Details"></mwc-button>
    </div>
    <div class="featured-card">
        <div class="accent"></div>
        <div class="contents">
        </div>
        <mwc-button outlined class="details" label="Details"></mwc-button>
    </div>
</div>