---
layout: layouts/base.njk
section: home
permalink: /index.html
---

{{ layoutContent | safe }}

<div class="featured-cards">
    <div class="featured-card">
        <div class="accent"></div>
        <div class="contents">
        </div>
        <mwc-button outlined class="details" label="Details"></mwc-button>
    </div>
    <div class="featured-card">
        <div class="accent"></div>
        <div class="contents">
        </div>
        <mwc-button outlined class="details" label="Details"></mwc-button>
    </div>
    <div class="featured-card">
        <div class="accent"></div>
        <div class="contents">
        </div>
        <mwc-button outlined class="details" label="Details"></mwc-button>
    </div>
</div>